body{
  border-left-style: solid;
  border-right-style:solid;
  background:;
  margin-left:50px;
  margin-right:50px;
 
}

.logo { height: 250px;
  left: 0;
  margin: auto;
  padding-top: 55px;
  right: 0;
  text-align: center;
  width: 601px
}
.navbar{
width:auto;
border-bottom: 1px solid #CACACA;
border-top: 1px solid #CACACA;
height: 40px;
}
col-md-4{
  text-align:center;
}
h4, h5 {text-align:left;
  font-weight: bold; Font-variant: normal;
  Font-family: "century", Century, serif;
  text-decoration: underline
}
.jumbotron{background: transparent;
border:;
text-align:center;
}

.footer {
  background:#f8f8ed;
  border-top:solid 2px;
}
.carousel-inner{
  margin-left:150px;
  width: auto;
}
.menu{
margin-right:10px;
}
