body{
  border-left-style: solid;
  border-right-style: solid;
  background:;
  margin-left:50px;
  margin-right:50px;
  width:auto ;
 
}

.logo { height: 250px;
  left: 0;
  margin: auto;
  padding-top: 55px;
  right: 0;
  text-align: center;
  width: auto;
}
.navbar {
width:auto;
border-bottom: 1px solid #CACACA;
border-top: 1px solid #CACACA;
height: 40px;
}

col-md-4{
  align:center;
}
.action{text-align:center;
  font-weight: bold; Font-variant: normal;
  Font-family: "century", Century, serif;
  text-decoration: underline
}
h4, h5{text-align:left;
  font-weight: bold; Font-variant: normal;
  Font-family: "century", Century, serif;
  text-decoration: underline;
}
.jumbotron{background: transparent;
border:;
text-align:center;
}

.footer_wrap {
  position:center;
  background:#f8f8ed;
  border-top:solid #CACACA;
}
.carousel-inner{
  margin: auto;
  width: auto;
}
.menu{
margin:auto;
}
# myCarousel {
align:center;
}
._blank{
  position:center;
}
