body{
  background:#FFFFCC ;
}
header{ height: 187px;
  left: 0;
  margin: auto;
  padding-top: 55px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 601px
}
.navbar{
border-bottom: 1px solid #CACACA;
border-top: 1px solid #CACACA;
height: 40px;
margin: 260px auto auto;
padding-left: 0;
position: absolute;
width: 100%;
text-align:center;
}
.col-md-4{text-align:center
margin:auto auto;}

h4, h5 {text-align: center;
  font-weight: bold; Font-variant: normal;
  Font-family: "century", Century, serif;
  text-decoration: underline
}
.jumbotron{background: transparent;
border:solid;}
.container, .container-fluid{ width: 100%;}
